.grid {
    display: grid;
    grid-template-columns: repeat(3, 205px);
    align-items: center;
  }
  
  .justify-space-around {
    display: grid;
    align-content: space-around;
    min-height: 100%;
  }
  /* .tour-1{
      display: block;
      width: 100%;
  } */
  
  .round {
    position: relative;
    max-width: 200px;
  }
  
  .match {
    display: grid;
    /* justify-content: center;
    align-content: center; */
    height: 80px;
    width: 180px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-radius: 10px;;
  }
  .match.team{
      margin-bottom: 50px;
  }
  .match ul{
      margin-left:  -40px;;
      position: relative;}
  
  .match ul > li{
      list-style: none;
     
  }
  .match ul > li:first-child{
      /* position: absolute; */
      margin-left: 0;
      list-style: none;
      border-bottom: 1px solid #333333;
      padding: 20px;
  }
  .round.justify-space-around{
  margin-left: 20px;
  }
  .round.last{
      margin-left: 40px;
  }
  
  .link {
    position: absolute;
    top: 23%;
    bottom: 25%;
    left: 100%;
    right: -20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
  
  .link:after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: 20px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
  }