body{
  margin: 0;
  padding: 0;
  background-image:url('/assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  /* background-color: rgb(24, 2, 75);  */
  font-family : DIN;
	font-weight : bold;
	font-size : 15px;
	color : rgb(255,255,255);
}

.main-section {
  /* background-color:#333366; */
  /* background-color:transparent; */
  background-color: rgba(51,51,102,.4);
  margin: 0;
  padding: 0;
  
}
.section-playtab{
  border: 1.2px solid rgb(59, 9, 105);
}
.navbar{
  margin: 0;
  /* background-color: inherit;
  color : black; */
}
.nav-playtab div{
  width: 80%;
  border-bottom-color: transparent;
  margin:0;
  padding: 0;
}
.main-tab ul li a{
  font-size: 20px;
}

#nav-home-tab, #nav-round1-tab{
background-color: transparent;
}

.nav-tabs a{
  border-bottom-color:transparent;
}
.nav-playtab div > a, .navbar-nav a{
  font-family : DIN;
	font-weight : bold;
	font-size : 15px;
	color : rgb(255,255,255);

}
.navbar ul li a{
  margin-right: 2em;
}

.recomm{
  /* position: absolute; */
  float: right;
  right:100;
  margin-top: -25px;

}
hr.hr-nav{
margin-top: 10px;
background-color:rgb(59, 9, 105);
/* background-color: red; */
} 
.hr-nav-div{
  margin-top: 10px;
}
.recomm button{
  border:1px solid #333;
  border-radius: 15px;
  margin-bottom :20px;
  display: block-inline;
  background-color: rgba(87, 87, 194, 0.7);
  color: white;
}

.has-search .form-control {
  padding-left: 2.375rem;
  /* margin-left: 30%; */
}

.curr-menu{
  margin-top:0;
  margin-bottom: 40px;
}

input[type="text"] {
  
  height: 30px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background-color: transparent;
    margin-top: 10px;
    color: white;
   }
   .fa-search {
     color: white;
     margin-top: 5px;
   }
 input[type="text"]::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
    padding-left: 20px;
    font-style: italic;
} 

input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
  color: white; 
} 

input[type="email"]::-ms-input-placeholder { /* Microsoft Edge */ 
  color: white;
} 

   .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#playroomdrop {
  width: 150px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: transparent;
  color:white;
}
.img_text_desc, .img_solo { 
  position: relative; 
  width: 100%; 
  height: 90%;
  margin-left: 15px;
}
.img_logo_sm{
  position: absolute;
  right :0;
}
.img_logo_left{
  position: absolute;
  left :60%;
  top:15%;
}
.img_logo_right{
  position: absolute;
  left :0;
  top:0;
  width: 100%;
  height: auto;
}

.img-desc { 
  position: absolute; 
  top: 70%; 
  left: 15px; 
  width: 100%; 
  font-weight: bold;
  font-size: 0.9em;
}
.img-desc-add { 
  position: absolute; 
  top: 78%; 
  left: 15px; 
  width: 100%; 
  font-weight: bold;
  font-size: 0.9em;
}
.player_desc{
  position: absolute;
  right: 0;
}
.round-div{
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
  width: 100%;
  padding: 40px 20px;
}
.main-playtabs{
  width: 80%;
}

.img_text_desc{
  display: block;
  margin-left: 0;
}
.overviewtabrigthside ul{
  display: block;
  width: 100%;
  margin-left: -20px;
}
.overviewtabrigthside ul li{
  list-style:none;
  margin-bottom: 20px;
  border-bottom:1px solid rgb(70, 14, 122);outline:none;
  width: 80%;
}

.overviewtabrigthside h4{
  margin-bottom :20px;
  display: block;
  width: 100%;
}
.overviewtabrigthside strong{
  color:red;
}
.center-block {
  margin-left: 10px;
}
.time-rec, .btnjoin-tour{
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.btntourn, .partcipantsfooter {
  background-color: rgba(51,51,102,.7);
  border: 1px solid;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}
.partcipantsfooter {
background-color: transparent;
}
hr.footer{
 background-color: rgb(59, 9, 105);
  width: 100%;
  text-align: left;
  margin-left: 0;
  margin-top: -50px;
}
.ftrules h5, .ftrules p{
  padding-left: 10px;
 
}
.ftpartcipants h5, .ftpartcipants p {
 margin-left: 30%;
  font-size: 1.0em;
}

.overviewmiddletab {
  margin: 0;
  padding: 0;
}

/*Matches Tab*/
.matchtab{
margin:auto;
}
.matchleft{
padding-left: 15%;
}


.tes div span{
  border:1px solid #333;
  padding:15px;
  width: 50px;
  height: 50px;
 
}

.tes{
  position: relative;
  padding:15px;
  background-color: transparent;
}
.row.matchleft, .row.matchright{
  padding:0;
}
.matchleft  ul{
padding-right: 20px;
list-style: none;
}
.matchright  ul{
  list-style: none;
  padding-left: 20px;
}
.matchright  span{
  margin-left: 20px;
}
.tes > div{
  margin-top: 10px;
  padding:0;
}
.sc-r{
  position: absolute;
  bottom: 45%;
  left:0px;
}
.sc-l{
  position: absolute;
  bottom: 40%;
 padding-left: 15px;
}

/*******MatchGameTb*******/
.tblgameres{
  border:none;
  width:40%;
  margin:auto;
  margin-bottom: 20px;
}
/* .tblgameres tr, .tblgameres td{
  border:1px solid;
} */
td.td-vic-bl span, td.td-fail-bl span{
  width: 100%;
  /* border: 1px solid #333; */
  height: 100%;
}
td.td-vic, td.td-fail{
  width:25% ;
}
td.td-vic-bl, td.td-fail-bl{
  width:15% ;
  padding-right: 0;
  border:1px solid;
}
td.td-vic-res, td.td-vic-fail{
  width:4%;
}
td.td-vic-colon{
  width:2%;
}
.nav-playmatchtab{
  width: 70%;
  border-bottom-color: transparent;
  margin:0;
  padding: 0;
}
.nav-playmatchtab div{
  border-bottom-color: transparent;
}
.nav-playmatchtab div > a{
  padding-right: 10px;
}

/*****MatchGameOneTab******/
table.tblgame1{
  width: 95%;
  margin-left: 10px;
}

.gameone ul{
  list-style: none;
}
.gameone ul li{
  position: relative;
  margin-bottom: 20px;
  width: 80%;
  display: block;
  border-bottom:1px solid  rgb(59, 9, 105);
}
.gameone ul li:first-child{
  padding-top:20px;
  margin-bottom: 20px;
  border-top:1px solid  rgb(59, 9, 105);
}
.gameone ul li span{
  width: 150px;
  color: red;
}

.tblgame1 tr td{
  padding-top: 20px;
  vertical-align: top;
  
}
.tblgame1 tr > td:first-child{
  padding-left: 20px;
  /* padding-right: 50%; */
  width: 60%;
  }
td.td-k, td.td-d{
  width: 20%;
}
.symb-k{
  /* padding-left: 20px;
padding-right: 50px; */
width: 100%;
color: red;
}
.symb-d{
  /* padding-left: 50px;
padding-right: 30px; */
width: 100%;
color: green;
}

.tblgame1 tr{
  width: 100%;
  border-bottom:1px solid  rgb(59, 9, 105);
}
.tblgame1 > tr:first-child{
  width: 100%;
  border-top:1px solid  rgb(59, 9, 105);
}


/*****PlayersTab******/
.tblgameplayer{
  width: 95%;
  margin-left: 10px;
}

.tblgameplayer tr{
  width: 100%;
  border-bottom:1px solid  rgb(59, 9, 105);
}

.tblgameplayer tr td{
  padding-top: 20px;
  vertical-align: top;
}

td.td-player-name{
  width: 20%;
}

td.td-player-team{
  width: 20%;
}

td.td-player-k{
  width: 5%;
  margin-left: 100%;
}
td.td-player-d{
  width: 5%;
  margin-right: 0;
}
td.td-player-rem{
  width: 50%;
  margin-right: 0;
}

/*** Match gamematchToday-Tomm***/
.gamematchToday-Tomm{
  width:100%;
  border: 1px soli red;
}
.tblgamematchToday-Tomm{
  width: 99%;
  margin-left: 20px;
}

.tblgamematchToday-Tomm tr{
  width: 100%;
  border-bottom:1px solid  rgb(59, 9, 105);
}
.tblgamematchToday-Tomm > tr:first-child{
  width: 100%;
  border-top:1px solid  rgb(59, 9, 105);
}

.tblgamematchToday-Tomm tr td{
  padding-top: 20px;
  vertical-align: top;
}
.td-player-vic, .td-vic{
  color:green;;
}
.td-player-los, .td-fail{
  color:red;;
}
.td-player-nike{
  color: rgb(51,51,112);
}
.today{
  margin-left: 20px;
}
.tommor{
  margin-left: 20px;
  margin-top: 20px;
}
.nav-playtab .nav-tabs {
  width: 60%;
}

.nav-playtab .nav-tabs a{
  width: 20px;
}

@media screen and (max-width: 346px) {
  .fa-search {
    color: white;
    margin-top: 92px;
  }
  .gamematchToday-Tomm{
    width:100%;
    /* border: 1px solid red; */
    margin: 0px;
    padding: 0;
  }
  .tblgamematchToday-Tomm{
    width: 100%;
    margin-left: -10px;
    padding-left: -10px;
    font-size: 0.7em;
  }
  .td-player-sps2{
width: 5%;
  }
  .td-player-resu{
    width: 35%;
  }
  .td-player-sps1{
    width: 5%;
  }

}

@media screen and (max-width: 420px) {
  .gamematchToday-Tomm{
    width:100%;
    /* border: 1px solid red; */
    margin: 0px;
    padding: 0;
  }
  .tblgamematchToday-Tomm{
    width: 100%;
    margin-left: -10px;
    font-size: 0.9em;
  }
  .td-player-sps2{
width: 16%;
  }
  .td-player-resu{
    width: 35%;
  }
  .td-player-sps1{
    width: 5%;
  }


}


@media screen and (max-width: 576px) {

  input[type="text"] {
  width: 80px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #ccc;
      margin-top: 10px;
     }
  .img_text_desc{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }
  .img_logo_sm{
    visibility: hidden;
  }
  .img_logo_left{
    visibility: hidden;
  }
  .img_logo_right{
    position: absolute;
    visibility: hidden;
    top:20%;
  }

  .tblgameres{
    /* border:1px solid; */
    width:95%;
    margin:auto;
    margin-bottom: 20px;
  }

  .nav-playtab .nav-tabs a{
  width: 80px;
}
 
}

@media screen and (max-width: 833px) {
  .tblgameres{
    /* border:1px solid; */
    width:80%;
     margin:auto;
     margin-bottom: 20px;
  }
  .main-tab ul{
    display: block;
  }
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 1;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    top: 60px;
  }
  .nav-playtab{
    margin-bottom: 20px;
  }

  .nav-playtab div, .nav-playmatchtab  div{
    display: block;
  }
  
  .nav-playtab .nav-tabs a{
    width: 85px;
  }
 

  input[type="text"] {
  
    /* height: 30px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: transparent;
      margin-top: 10px;
      color: white; */
      width: 150px;
     }
}


@media screen and (max-width: 768px) {
.overviewtabrigthside{
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.overviewmiddletab {
  width: 100%;
 display: block;
}
.img_logo_right{
  position: absolute;
  top:5%;
}
.nav-playtab .nav-tabs a{
  width: 80px;
}

} 
@media screen and (max-width: 780px) {
  .partcipantsfooter{
    font-size: 1.2em;
  }
}

@media screen and (max-width: 992px) {
  .time-rec, .overviewtabrigthside {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .overviewmiddletab {
    width: 100%;
   display: block;
  }
  .nav-playmatchtab .nav-tabs {
    width: 70%;
  }
  .nav-playmatchtab .nav-tabs a{
    width: 85px;
  }
  
}

@media screen and (max-width: 1200px) {

  
}
@media screen and (max-width: 1110px) {
 
}

@media screen and (max-width: 1232px) {
  .overviewmiddletab {
    width: 100%;
   display: block;
  }
  hr{
    margin-top: 0;
  }

}

@media screen and (max-width: 1350px) {
  .round-div{
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-right: 5px;
    width: 100%;
    padding: 20px 10px;
  }
}